<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media='screen' href="/css/full-view-img.css" />
    <script src="https://kit.fontawesome.com/cc86eb82ec.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>Picbox</title>
</head>
<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #4d749e" th:each="thisUser: ${currentUser}">
    <a class="navbar-brand" th:href="@{/userGallery/{id}(id=${thisUser.id})}"><img src="/assets/logo/logo-with-title.png" class="ms-1 rounded-circle" height="60" alt=""></a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <form class="d-flex my-2 my-lg-0" id="searchbar" th:action="@{/loggedGallery/search}" method="post">
            <input class="form-control me-sm-2 rounded-pill" id="writtentags" type="text" name="writtentags" placeholder="Buscar" th:value="${writtentags}">
            <input class="d-none" type="hidden" id="userid" name="userid" th:value="${thisUser.id}">
            <button class="btn my-2 my-sm-0 text-white" type="submit" style="background-color:#000000">Buscar</button>
        </form>
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link ms-2 mt-1 btn text-white w-100" th:href="@{/upload/{id}(id=${thisUser.id})}">Subir imagen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link ms-2 btn mt-1 text-white" th:href="@{/userGallery/{id}(id=${thisUser.id})}" style="background-color:#79a6c4">Galería</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn text-white ms-1 mt-1" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${thisUser.fullname}"></a>
                <div class="dropdown-menu" aria-labelledby="dropdownId" style="background-color: #000000;">
                    <a class="dropdown-item text-white" th:href="@{/userProfile/{id}(id=${thisUser.id})}">Mi perfil</a>
                    <a class="dropdown-item text-white" th:href="@{/userSettings/{id}(id=${thisUser.id})}">Configuracion de Usuario</a>
                    <a class="dropdown-item text-white" href="/gallery">Cerrar sesión</a>

                </div>
            </li>

        </ul>
    </div>
</nav> <br><br><br><br><br>
<body class="container-fluid mt-4" style="background-color: #bbe6e993;" th:each="image:${image}">
    <div class="row d-flex justify-content-center">
        <img th:src="@{/image/{id}(id=${image.id})}" class="w-50" alt="">
    </div>
    <div class="row mt-5 p-1" style="background-color: #497174;" th:each="user:${image.user}">
        <div class="col-1" th:each="thisUser: ${currentUser}">
            <a th:href="@{/viewOtherProfile/{currentId}/{profileId}(currentId=${thisUser.id},profileId=${user.id})}" ><img th:src="@{/userImage/{id}(id=${user.id})}" class="w-100 mt-2 rounded-circle" alt=""></a>
        </div>
        <div class="col-2" th:each="thisUser: ${currentUser}">
            <a th:href="@{/viewOtherProfile/{currentId}/{profileId}(currentId=${thisUser.id},profileId=${user.id})}" class="text-decoration-none"><h5 class="mt-2 text-white" th:text="${user.fullname}"></h5></a>
            <p class="fs-5" style="color: rgb(4, 247, 255);" th:text="${user.username}"></p>
        </div>
        <div class="col-1">
            <div class="d-flex h-100 vr">
              </div>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <h3 class="mt-4 text-center text-white" th:text="${image.title}"> </h3>
        </div>
        <div class="col-1">
            <div class="d-flex h-100">
                <div class="vr"></div>
            </div>
        </div>
        <div class="col-2 d-flex justify-content-center" >
            <a href="#" class="btn text-white fw-bold mt-3 fs-5 p-2" download="" onclick="downloadAlert()"><i class="fa-solid fa-circle-down"></i>Descargar</a>
        </div>
    </div>
    <div class="row py-5" style="background-color:#2D494B">
        <div class="col-1"></div>
        <div class="col-9" >
            <h2 class="fs-4" style="color:#73B0B5"> Descripción: </h2>
            <p class="text-white fs-6 fw-lighter" th:text="${image.description}">  </p>
            <h3 class="fs-5 mt-5" style="color:#73B0B5"> Etiquetas: </h3>
            <div class="row" th:each="thisUser: ${currentUser}">
                <div class="col-2" th:each="tag: ${image.tags}">
                    <a th:href="@{/loggedGallery/{id}/search/{tags}(id=${thisUser.id},tags=${tag.name})}"><p class="btn btn-secondary w-100" th:text="${tag.name}"> </p></a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function downloadAlert(){
            alert("Estas descargando una imagen");

        }
    </script>
</body>
</html>