<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" media='screen'  href="/css/landing-style.css" />
    <script src="https://kit.fontawesome.com/cc86eb82ec.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>Picbox</title>
  </head>
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #4d749e" th:each="thisUser:${currentUser}">
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <a class="navbar-brand" th:href="@{/userGallery/{id}(id=${thisUser.id})}"><img src="/assets/logo/logo-with-title.png" height="60" class="ms-1 rounded-circle" alt=""></a>
        <form class="d-flex my-2 my-lg-0" id="searchbar" th:action="@{/loggedGallery/search}" method="post">
            <input class="form-control me-sm-2 rounded-pill" id="writtentags" type="text" name="writtentags" placeholder="Buscar" th:value="${writtentags}">
            <input class="d-none" type="hidden" id="userid" name="userid" th:value="${thisUser.id}">
            <button class="btn my-2 my-sm-0 text-white" type="submit" style="background-color:#000000">Buscar</button>
        </form>
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link mt-1 ms-2 btn text-white w-100" th:href="@{/upload/{id}(id=${thisUser.id})}">Subir imagen</a>
            </li>

            <li class="nav-item">
                <a class="nav-link mt-1 ms-2 btn text-white" th:href="@{/userGallery/{id}(id=${thisUser.id})}" style="background-color:#79a6c4">Galería</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn text-white ms-1 mt-1" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${thisUser.fullname}"></a>
                <div class="dropdown-menu" aria-labelledby="dropdownId" style="background-color: #000000;">
                    <a class="dropdown-item text-white" th:href="@{/userProfile/{id}(id=${thisUser.id})}">Mi perfil</a>
                    <a class="dropdown-item text-white" th:href="@{/userSettings/{id}(id=${thisUser.id})}">Configuracion de Usuario</a>
                    <a class="dropdown-item text-white" href="/gallery">Cerrar sesión</a>

                </div>
            </li>

        </ul>
    </div>
</nav>
  <body th:each="thisUser:${currentUser}">
    <div class="container-fluid">
        <ul class="art-gallery">
            <li th:each="image:${images}">
                <img th:src="@{/image/{id}(id=${image.id})}">
                    <a th:href="@{/fullview/{userId}/image/{id}(userId=${thisUser.id},id=${image.id})}" class="w-100">
                        <div class="overlay">
                        <span th:text="${image.title}"></span>
                        </div>
                    </a>
            </li>
        </ul>
    </div>

  </body>
</html>
