* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar .btn,body .btn{
    transition: all .3s ease-in-out;
  }
  
  .navbar .btn:hover,body .btn:hover{
    border-radius: 10px;
    background-color:#000000 !important;
    color:white !important;
  }
  .navbar .dropdown-item:hover{
    background-color: #99cfee;
  }
 #searchbar{
  width: 60%;
  margin-right: 1%;
}
  
  img{
    image-rendering: optimizeQuality;
  }
  